:root {
  ---primary: #118ab2;
  ---secondary: #ad62aa;
  ---accent: #e3e9eb;
  ---light: #057aa1;
  ---ghost: #ededed;
  ---white: white;
  ---fontText: 0.65rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}


.fa-question-circle {
  font-size: 1rem;
}

header {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: right;
  column-gap: 20px;
  max-width: 95vw;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.nav {

  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(---primary);
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.nav-logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-transform: uppercase;
  row-gap: 2px;
  margin-left: 2px;
}


.nav-logo p {
  color: var(---ghost);
  font-size: 0.65rem;
}

.nav-logo h1 {
  color: var(---white);
  font-size: 0.85rem;
}

.nav-menu {
  display: none;
  justify-content: right;
  width: 100%;
}

.nav-menu a {
  text-transform: capitalize;
  color: var(---white);
}

.profile-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-user {
  display: none;
}


.user {
  display: flex;
  align-items: center;
  width: 7rem;
  height: 1.5rem;
  background-color: var(---light);
  border-radius: 30px;
  column-gap: 10px;
  padding: 1px;
}

.user p {
  color: var(---white);
}

.username {
  font-size: var(---fontText);
  text-transform: uppercase;
}

.user-icon {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}

.support-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 1.5rem;
  column-gap: 2px;
  background-color: transparent;
  border-color: transparent;
  text-transform: uppercase;
  color: var(---white);
  background-color: var(---light);
  border-radius: 25px;
  padding: 0 5px 0 5px;
}

.support-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  text-transform: uppercase;
  font-size: var(---fontText);
  color: var(---white);
}

.power-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border-color: transparent;
  color: var(---white);
  background-color: var(---light);
  border-radius: 50%;
}

.power-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  color: var(---white);
  font-size: 0.85rem;
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(---light);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50vw;
  margin: 0 auto;
  width: 100%;
  height: 3rem;
  column-gap: 10px;

}

.search-bar input {
  border: none;
  outline: none;
  width: 50vw;
  background-color: transparent;
}

.search-bar input::placeholder {
  text-transform: capitalize;
  color: var(---white);
}

.fa-search {
  color: var(---white);
}



.close-btn {
  position: absolute;
  top: 1%;
  right: 2%;
  display: none;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  color: var(---white);
  font-size: 1.2rem;
  cursor: pointer;
}

.hamburger-btn {
  position: absolute;
  top: 1%;
  right: 2%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  color: var(---white);
  font-size: 1.2rem;
  z-index: 1;
  cursor: pointer;
}


.active.hamburger-btn {
  display: none;
}

.active.close-btn {
  display: flex;
  top: 10%;
}

.open .sidebar {
  transform: translateX(0);
  transition: all 0.2s ease-in-out;
}

.active.overlay {
  visibility: visible;
}

.active.nav {
  position: fixed;
}

/*
.toggler:checked~.hamburger-btn {
  display: none;
}

.toggler:checked~.close-btn {
  display: flex;
  cursor: pointer;
}
*/
/* hero  section*/

.home-container {
  display: flex;
  flex-direction: column;
  background-color: var(---ghost);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(---ghost);
}

.data-content {
  display: flex;
  justify-content: center;
  max-width: 90vw;
  margin: 0 auto;
  width: 100%;
}


.section-title {
  display: flex;
  align-items: center;
  font-size: var(---fontText);
  height: 4rem;

}

.section-title p {
  font-size: 0.9rem;
}


.employees {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.employee-grid {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  height: max-content;
}


.single-employee {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(---white);
}

.person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.person-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.personal-data {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: var(---primary);
  width: 100%;
  margin-left: 2rem;
  box-sizing: border-box;
}

.location-data {
  display: flex;
  width: 100%;
  height: 4rem;
  column-gap: 10px;
  color: var(---primary);
  border-top: var(---ghost) solid 1px;
}


.department-data,
.room-data {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.department-data {
  margin-left: 6rem;
  box-sizing: border-box;
}


.search-section {
  display: none;
}

/* sidebar*/
aside {
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: all 0.2s ease-in-out;
  z-index: 5;
}



.sidebar-header-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 3rem;
  background-color: var(---primary);
}

.sidebar-header {
  display: flex;
  align-items: center;
  max-width: 90vw;
  margin: 0 auto;
  width: 100%;
}

.sidebar-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
  text-transform: uppercase;
  row-gap: 2px;
}


.sidebar-title p {
  color: var(---ghost);
  font-size: 0.65rem;
}

.sidebar-title h1 {
  color: var(---white);
  font-size: 0.85rem;
}




.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
  visibility: hidden;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 100vh;
  background-color: var(---white);
}

.support {
  display: flex;
  justify-content: center;
}

.sidebar-support-container {
  position: absolute;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 2rem;
  column-gap: 2px;
  background-color: transparent;
  border-color: transparent;
  text-transform: uppercase;
  color: var(---white);
  background-color: var(---light);
  border-radius: 25px;
  padding: 0 5px 0 5px;
}

.support-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  text-transform: uppercase;
  font-size: var(---fontText);
  color: var(---white);
}

.sidebar-user {
  display: flex;
  width: 100%;
}

.user-content {
  display: flex;
  column-gap: 20px;
  padding: 20px;
  border-bottom: var(---ghost) solid 1px;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;
}

.user-info p {
  text-transform: capitalize;
  font-size: 0.95rem;
}

.sidebar-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.signout-btn {
  display: flex;
  background-color: transparent;
  border-color: transparent;
  color: red;
  font-size: 0.75rem;
}

.address-menu {
  display: flex;
  align-items: center;
  height: 4rem;
  column-gap: 20px;
  padding: 20px;
  border-bottom: var(---ghost) solid 1px;
  text-transform: capitalize;
}

/* toggle

.toggler {
  display: none;
}

.toggler:checked.overlay {
  display: flex;
}

.toggler:checked~aside {
  transform: translateX(0%);
  transition: all 0.2s ease-in-out;
}

.toggler:checked~.overlay {
  display: flex;
}

.toggler:checked~.sidebar-container {
  overflow: hidden;
}

.data-large {
  display: none;
}

.data-large-list {
  display: none;
}

.title-icon {
  display: none;
}

.toggle-view {
  display: none;
}

*/
.hero-input {
  display: none;
}

.error-content {
  display: flex;
  height: 100vh;
}

.error-content img {
  display: flex;
  width: 100%;
  height: 50%;
}

.layout {
  display: none;
}

.employee-list-view {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 2px;
}

.not_found {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.not_found img {
  width: 100%;
  height: 40vh;
}

/* User details*/
.single-user-details {
  position: relative;
  display: flex;
  max-width: 95vw;
  margin: 2rem auto;
  width: 100%;
  background-color: var(---white);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.user-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  row-gap: 1rem;
  border-right: var(---ghost) solid 1px;
  width: 30%;
}

.image-container img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-name h4 {
  color: black;
}

.profile-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 10px;
}

.profile-name p {
  font-size: 0.75rem;
  color: rgb(188, 184, 184);
}

.copy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 230, 233);
  border-color: transparent;
  border-radius: 10px;
  width: 4rem;

}

.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(---white);
  border-color: transparent;
  border-radius: 5px;
  width: 4rem;
  height: 1.5rem;
  border: var(---ghost) solid 1px;
}

.previous-btn-container {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.previous-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-color: transparent;
  border: var(---ghost) solid 1px;
  border-radius: 50%;
  color: var(---primary);

}

.previous-btn:hover {
  background-color: var(---primary);
  color: var(---white);
  cursor: pointer;
}

.title-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: var(---ghost) solid 1px;
}

.title-container p {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.label {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.label i {
  color: var(---primary);
}

.single-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.general-info,
.contact-info,
.travel-info {
  display: flex;
  flex-direction: column;
  max-width: 95vw;
  margin: 0 auto;
  width: 95%;

}


.c-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(---primary) solid 1px;
  font-size: 0.65rem;
  width: 0.8rem;
  height: 0.8rem;
}

@media screen and (min-width: 768px) {

  main {
    display: flex;
    flex-direction: row;

  }

  .data-content {
    display: flex;
    max-width: 95vw;
    margin: 0 auto;
    width: 100%;
    column-gap: 2rem;

  }


  .employees {
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  .btn-container {
    display: none;
  }

  aside {
    display: none;
  }

  .overlay {
    display: none;
  }


  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  header {
    display: none;
  }

  .nav-user {
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 2rem;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

  }

  .search-container {
    display: none;
  }

  .toggle-btn {
    display: none;
  }


  .search-section {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }


  .hero-input:checked~.hero-container {
    display: flex;
  }

  .address-btn {
    color: var(---white);
  }

  .address-btn:hover .nav-menu {
    border-bottom: var(---primary) solid 2px;
  }



  /*  basic & advance search*/

  .btns {
    display: flex;
    justify-content: center;
    column-gap: 1px;
    height: 4rem;
  }

  .basic-search-btn,
  .advance-search-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 5 00;
    font-size: 0.75rem;
  }

  .active.basic-search-btn {
    border-bottom: var(---primary) solid 2px;
  }

  .active.advance-search-btn {
    border-bottom: var(---primary) solid 2px;
  }

  .basic-search-container {
    display: flex;
    flex-direction: column;
    background-color: var(---white);
    padding: 1rem;
    box-sizing: border-box;
    row-gap: 10px;
    width: auto;
  }

  .active.advance-search-container {
    display: flex;
  }

  .search-content {
    display: flex;
    align-items: center;
    border: var(---ghost) solid 1px;
    background-color: var(---white);
    column-gap: 10px;
  }

  .search-content i {
    color: black;
  }

  .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(---primary);
    border-color: transparent;
    color: var(---white);
    height: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  .search-content input {
    outline: none;
    border: none;
    height: 2rem;
    width: 100%;
  }

  .advance-search-container {
    display: none;
    flex-direction: column;
    background-color: var(---white);
    padding: 1rem;
    box-sizing: border-box;
    row-gap: 10px;
    width: auto;
  }



  .advance-content input {
    outline: none;
    height: 2rem;
  }

  .building-input,
  .department-input {
    display: flex;
    align-items: center;
    width: 8rem;
    height: 2rem;
    border: var(---ghost) solid 1px;
  }

  .department-input {
    width: 100%;
  }

  .department-input input {
    width: 100%;
  }

  .building-input input,
  .department-input input {
    border: none;
  }

  .building-input i,
  .department-input i {
    margin-right: 5px;
  }

  .advance-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .s-name,
  .s-email,
  .department {
    display: flex;
    flex-direction: column;
  }

  .contact {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  .contact input {
    width: 100%;
  }

  .location input {
    width: 100%;
  }

  .location {
    display: flex;
    column-gap: 5px;
  }

  .basic-btn {
    display: none;
  }

  .advance-btn {
    display: none;
  }

  .basic-search-btn:hover {
    border-bottom: var(---primary) solid 2px;
  }

  .advance-search-btn:hover {
    border-bottom: var(---primary) solid 2px;
  }

  .basic-btn:checked~.advance-search-container {
    display: flex;
  }

  .basic-btn:checked+.basic-search-btn {
    border-bottom: var(---light) solid 2px;
  }

  .basic-btn:not(:checked)~.basic-search-container {
    display: flex;
  }


  .employee-grid {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    gap: 5px;

  }

  .single-employee {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .person-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    column-gap: 10px;

  }

  .person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;

  }

  .personal-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;

  }

  .location-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 0;
    padding: 5px auto;

  }

  .department-data,
  .room-data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .department-data {
    margin-left: 0;
  }

  .person-image {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
  }

  .department-data {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
  }

  .title {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width:1092px) {

  .data-content {
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    width: 100%;
    column-gap: 1rem;
    margin-bottom: 2rem;
  }

  .section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btns {
    display: flex;
    justify-content: center;
    column-gap: 10px;

  }


  .layout {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
  }

  .grid-btn,
  .list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
  }


  .list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(---white);
    padding: 1rem;

  }

  .employee-list {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    width: 100%;

  }



  .single-employee-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: var(---white);
    padding: 1rem;
    box-sizing: border-box;
    color: var(---primary);
  }

  .person-image {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }

  .image-container-list {
    display: flex;
    width: 80%;
    height: 100%;
  }

  .department-data-list,
  .room-container-list {
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 5px;
    width: 100%;
    height: 100%;
  }

  .person-image-list {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .name-container-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .list-header i {
    color: var(---primary);
  }

  .title-icon {
    display: flex;
    font-size: 1rem;
  }

  .active.grid-btn {
    color: var(---primary);
  }

  .active.list-btn {
    color: var(---primary);
  }


  .show-container.employee-list-view {
    display: flex;
  }

  .show-container.employee-grid {
    display: grid;
  }


  .toggle-view:checked~.data-large-list {
    display: flex;
  }

  .toggle-view:checked~.data-large {
    display: none;
  }

  .cols {
    color: var(---primary);
  }


  .name-container,
  .dept-container,
  .room-container,
  .photo-container {
    display: flex;
    align-items: center;
    column-gap: 5px;
    text-transform: capitalize;
  }

  .name,
  .dept,
  .room,
  .photo {
    display: flex;
    align-items: center;
  }


  .list-title i {
    color: var(---primary);
  }

  .employee-grid {
    display: none;
    grid-template-columns: repeat(3, 19vw);
    gap: 5px;
    width: 100%;
  }


  .search-section {
    display: flex;
    flex-direction: column;
    width: 30vw;
  }

  .single-user-details {
    position: relative;
    display: flex;
    max-width: 60vw;
    margin: 2rem auto;
    width: 100%;
    background-color: var(---white);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  }
}