.sidebar-container {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 20rem;
  min-height: 100vh;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.sidebar {
  display: flex;
}

.closeBtn-container {
  position: absolute;
  top: 10;
  right: 10;
}

.close-btn {
  background-color: transparent;
  border-color: transparent;
  font-size: var(---font);
  color: rgb(195, 201, 203);
}

.show {
  transform: translateX(0%);
  transition: 0.5s;
}

.hide {
  transform: translateX(-100%);
  transition: 0.5s;
}

@media screen and (min-width:992px) {
  .sidebar-container {
    display: none;
  }
}