:root {
  ---primary-1: #00ff00;
  --gray-1: rgb(119, 122, 125);
  ---nav: #B96A59;
  ---spacing: 1px;
  ---font-1: 0.85rem;
  ---font-2: 1.2rem;
  ---font-3: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
}


ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  font: var(---font-2);
}



.banner-container {
  display: flex;
  min-height: 90vh;
}


.social {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 1.5rem;
  padding: 1rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.social-link {
  font-size: var(---font);
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
  color: var(--gray-1);
  font-size: var(---font-3)
}

.social-text {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  transform: rotate(270deg);
  text-transform: uppercase;
  margin-top: 1rem;
  color: var(--gray-1);
}

.slider-container {
  width: 100%;
  border: var(--gray-1) solid 1px;
}

footer {
  width: 100vw;
  height: 10rem;
  background-color: darkslategrey;
}

.slider-container {
  position: relative;
  display: flex;
}

.slider {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slide img {
  width: 100%;
  height: 40rem;
}

.slide-content {
  position: absolute;
  top: 0;
}

.slider-btns {
  position: absolute;
  top: 80%;
  left: 20%;
}


@media screen and (min-width:992px) {
  .social {
    display: flex;
  }
}